/*Calendario*/
.cursos-events { 
    grid-area: 3 / 2 / 4 / 3; 
}
.calendar {
    --side-padding: 20px;
    --border-radius: 18px;
    --accent-br: 15px;
    width: 300px;
    border: 1px solid #bebebe;
    border-radius: var(--border-radius);
    margin-top: 15px;
}
.calendar select {
    background-color: #EFF3F6;
    padding: 15px 20px;
}
.calendar__opts, .calendar__buttons {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}
.calendar__opts {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 20px var(--side-padding);
}
.calendar__body {
    background-image: linear-gradient(to bottom, #EFF3F6, #fff);
}
.calendar__days {
    background-color: #ffffff;
    padding: 0 var(--side-padding) 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar__days > div {
    text-align: center;
    font-weight: 700;
    font-size: 1.02rem;
    color: #979898;
}
.calendar__dates {
    padding: 10px var(--side-padding);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar__date {
    --height: calc(400px / 6 - var(--side-padding));
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    font-weight: 600;
    font-size: 1.02rem;
    cursor: pointer;
    position: relative;
}
.calendar__date::before {
    content: "";
    position: absolute;
    background-color: #ffffff00;
    width: 100%;
    height: calc(var(--height) * 0.9);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--accent-br);
    transition: background-color 0.3s ease;
}
.calendar__date:not(.calendar__date--selected):not(.calendar__date--grey):hover::before {
    background-color: #d1e9f9;
}
.calendar__date--grey {
    color: #c5c8ca;
    cursor: not-allowed;
}
.calendar__date--selected {
    color: #e88606;
}
.calendar__date--selected::before {
    background-color: #fff5ea;
    border-radius: 0px;
}
.calendar__date--first-date::before {
    border-top-left-radius: var(--accent-br);
    border-bottom-left-radius: var(--accent-br);
}
.calendar__date--last-date::before {
    border-top-right-radius: var(--accent-br);
    border-bottom-right-radius: var(--accent-br);
}
.calendar__date--range-start::after {
    content: "";
    position: absolute;
    bottom: 3px;
    border-radius: 18px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fdad42;
    width: 10px;
    height: 4px;
}
.calendar__date--range-end {
    color: #ffffff;
}
.calendar__date--range-end::before {
    box-shadow: 0 15px 20px -3px rgba(255, 55, 75, 0.35);
    background-color: #fdad42;
    border-radius: var(--accent-br);
    z-index: 1;
}

.calendar__date span {
    position: relative;
    z-index: 1;
}
.calendar__buttons {
    padding: 10px var(--side-padding) 20px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.calendar__button {
    cursor: pointer;
}
.calendar__button--grey {
    background-color: #f3f4f6;
}
.calendar__button--primary {
    background-color: #3CB5F5;
    color: #ffffff;
    transition: box-shadow 0.3s cubic-bezier(0.21, 0.68, 0.09, 0.27), transform 0.2s linear;
}
.calendar__button--primary:hover {
    box-shadow: 0 20px 30px -13px #54ade888;
    transform: translateY(-3px);
}

select, button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.02rem;
    border-radius: 18px;
    outline: none;
    border: 0;
    padding: 15px 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='960px' height='560px' viewBox='0 0 960 560' enable-background='new 0 0 960 560' xml:space='preserve'%3E%3Cg id='Rounded_Rectangle_33_copy_4_1_'%3E%3Cpath d='M480,344.181L268.869,131.889c-15.756-15.859-41.3-15.859-57.054,0c-15.754,15.857-15.754,41.57,0,57.431l237.632,238.937 c8.395,8.451,19.562,12.254,30.553,11.698c10.993,0.556,22.159-3.247,30.555-11.698l237.631-238.937 c15.756-15.86,15.756-41.571,0-57.431s-41.299-15.859-57.051,0L480,344.181z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - var(--side-padding)) center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Ajuste para centrar el modal */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Ajuste según necesidades */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#eventName {
    width: 100%; /* Hace que el input ocupe todo el ancho del modal */
    padding: 10px; /* Añade algo de padding para mejor visualización */
    margin-bottom: 20px; /* Espacio antes de los botones */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}
.modal-buttons {
    display: flex;
    justify-content: center; /* Centra los botones */
    gap: 10px; /* Añade un espacio entre botones */
}
.modal-buttons button{
    background-color: #3CB5F5;
    color: #ffffff;
    transition: box-shadow 0.3s cubic-bezier(0.21, 0.68, 0.09, 0.27), transform 0.2s linear;
}
.modal-buttons button:hover {
    box-shadow: 0 20px 30px -13px #54ade888;
    transform: translateY(-3px);
}

.close-button {
    position: absolute;
    top: 0;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*Boton*/
.botones button{
    width: 200px;
    height: 50px;
    background-color: blue;
    border-radius: 5px;
    font-size: 30px;
}